.background{
	background: #000 !important;
	color: #fff;
}

.header .header-nav {
	padding-top: 8px;
	color: #000 !important;
}

.avatar{
	padding-top: 4px;
}

.header-nav span, .header-nav i{
	color: #000 !important;
}

.header .header-nav{
	text-transform: uppercase !important;
    font-family: 'Gotham-Medium'!important;  
}

#copy-invite, .button_to .btn{
	text-transform: capitalize !important;
	font-family: 'Gotham-Medium'!important;  
}

#main-text{
	font-family: 'BauerBodoniStd' !important;
}

.input-group .form-control, input.form-control{
	font-family: 'Source Sans Pro' !important;
    height: 3rem !important;
    border-radius: 0px !important;
}

.form-group .subtitle{
	color: #000 !important;
}

.header-brand {
    margin-right: 1rem;
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 600;
    padding: 0;
    transition: .3s opacity;
    line-height: 2rem;
    text-align: center;
}

.header-brand p{
	color: #000 !important;
	font-family: 'BauerBodoniStd' !important;
	text-transform: uppercase;
}

.header{
	height: 95px !important;
}

.header .ml-aut{
	margin-top: 15px !important;
}

.header-brand-img{
	height: 4rem !important;
	margin-top: -20px !important;
}

.btn {
	/*margin-top: 1rem;*/
	border: 0;
	color: #000 !important;
	font-family: 'Gotham' !important;
	text-transform: uppercase;
	border-radius: 0px;
	/*font-family: 'Source Sans Pro' !important;*/
}

.wrapper{
	background-color: #000;
    border: 0;
    box-shadow: none;
}

.card{
	border: 0;
	border-radius: 0px;
}

.btn i{
	margin-top: -1rem !important;
}

.subtitle{
	color: #fff !important;
	font-family: 'Gotham-Medium';
}

.sessions .table-responsive{
	background-color: #000 !important;
}

table#recordings-table {
    color: #fff!important;
}

.list-group{
	font-family: 'Source Sans Pro' !important;
}

.list-group #roleSelect .list-group-item, 
#newRole{
	color: #000 !important;
	background-color: #fff !important;
}
.list-group #roleSelect .list-group-item:hover,
#newRole:hover{
	color: #D20102 !important;
	background-color: #fff !important;
}

.footer{
	background-color: #000 !important;
	color: #fff !important;
}

a.page-link {
    padding-top: 16px !important;
}


.edit_hover_class a{
	visibility: visible !important;
}

.room_block-container .fas{
	padding-top: 10px !important;
}

.container .list-group-item.active{
	background-color: #000 !important;
}
.container .list-group-item{
	color: #fff !important;
	font-family: 'Gotham-Medium' !important;
}

.container .list-group-item:hover{
	color: #FEEC00 !important;
	background-color: #000 !important;
}

.container .list-group-item:hover .fas{
	color: #FEEC00 !important;
}

.container .list-group-item span{
	color: #fff !important;
}

.stamp .fas{
	padding-top: 11px !important;
}

.card-header:first-child{
	border-radius: 0px !important;
}

.sort-disabled, #newRoleButton{
	background-color: #fff !important;
	color: #000 !important;
}

.sort-disabled:hover, #newRoleButton:hover{
	background-color: #fff !important;
	color: #D20102 !important;
}

.username{
	font-family: 'Gotham-Medium' !important;
}

.sign-in-button {
	margin-top: 14px !important;
}

.table-hover tbody tr:hover{
	color: #FEEC00!important;
}